<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="login()" class="login-form">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" type="email" name="email" id="email" placeholder="Email" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" type="password" name="password" id="password" placeholder="Password" required />
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" class="login-button">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
  