.doctor-card {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .mat-elevation-z8 {
    margin-bottom: 20px;
  }
  
  th{
    font-weight: bold;
  }